body{
    background-color:#F1F3F3;
    min-width:100%;
    min-height: 100%
}

#kotak{
    position: relative;
    top: 40px;
    left: 150px;
    width: 950px;
}
   
#foto{
    position: absolute;
    width: 300px;
    left: 170px;
    top: 190px;
    box-shadow: 0px 4px 4px #3A3F58;
    border-radius: 50%;
}   
#logo{
    position: absolute;
    top:0;
    left: 50;
}

.menubar{
    font-family: Saira;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
    margin-top: 15px;
}

#helo{
    position: absolute;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    line-height: 65px;
    color: #3A3F58;
    top: 260px;
    left:700px;
    font-size: 25px;
}
#nama{
    position: absolute;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    line-height: 65px;
    color: #3A3F58;
    top: 300px;
    left: 690px;
    font-size: 50px;
}
#buttonnih{
    position: absolute;
    color:white;
    background-color: #3A3F58;
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width:280px;
    left: 690px;
    top: 370px;
    border-radius: 25px;
    
}

#hellooo{
    position: absolute;
    width: 299px;
    height: 165px;
    left: 38%;
    top: 100px;
    
    word-spacing: 50px;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    color: #000000;
}
#tome{
    position: absolute;
    width: 299px;
    height: 165px;
    left: 46%;
    top: 220px;

    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;

    color: #000000;
}
.deskripsii{
    top: 200px;
}
.socmedd{
    align-self:center; 
}
#wa{
    position: absolute;
    top:220px;
    left: 400px;
    width: 80px;

}
#nohp{
    position: absolute;
    top:230px;
    left: 490px;
    width: 80px;

    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}
#logoemail{
    position: absolute;
    top:300px;
    left: 350px;
    width: 80px;

}
#email{
    position: absolute;
    top:310px;
    left: 450px;
    width: 80px;

    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}
#findme{
    position: absolute;
    width: 299px;
    height: 165px;
    left: 40%;
    top: 400px;

    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 56px;

    color: #000000;
}
.socmedlain{
    position: fixed;
    justify-content: center;
    word-spacing: 50px;
    background-color: #F79741;
    width: 100%;
    display: flex;
    bottom:50px;
   
}
.logomedsos{
   
    width: 50px;
}
#logoig{
    width: 45px;
}
.kotak{
    bottom: 0px;
}

#fotolagi{
    position: absolute;
    top:-20px;
    left: 300px;
    width: 230px;
}
#aboutme{
    position: absolute;
    top:10px;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    line-height: 54px;
    left: 450px;
    color: #3A3F58;

}
#education{
    top: 50cm;
    left: 0;
    width: 380px;

}
#skill{
    top: -10px;
    width: 400px;
    
}
#experience{
    width: 380px;
    
}
.kotakskill{
    top: 250px;
}
.kotakkotak{
    padding: 0px;
    top: 190px;
}
#foto1{
    width: 90%;
}
#foto2{
    width: 90%;
}
#foto3{
    width: 100%;
}
.kotakfotofoto{
    top: 100px;
}